/*Athour : Soja */
/* Date:2 february 2023 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700;400;900;&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.banner {
    background-image: url("../images/academy-banner.jpg");
    height: 800px;
    background-size: cover;
}
.banner h1 {
    font-weight: 900;
    font-size: 50px;
    color: #1e2531;
}
.dream {
    margin-left: 25%;
}
.seconddiv {
    padding: 3%;
    position: relative;
}
.points h3::before {
    content: "{";
    color: #ff005df9;
}
.points h3::after {
    content: "}";
    color: #ff005df9;
}
.points {
    height: fit-content;
    background-color: #1e2531;
    color: #00aaff;
    margin-top: 10%;
    margin-left: -15%;
}
.secondimg {
    margin-top: 20px;
    margin-left: 50px;
}

.paragraph {
    color: #1e2531;
    text-align: center;
    min-height: 30vh;
    padding: 40px 150px;
    font-size: 25px;
}
.thirddiv {
    background-image: url("../images/modulebg.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.opcity {
    margin: auto;
}
.opcity > div {
    width: 20%;
}

.subthird {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}
.subthird div {
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}
.paragraph2 {
    padding: 4%;
}
.para {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
}
.knowledge {
    background-image: url("../images/testsbg.jpg");
    background-size: cover;
    height: 60vh;
    padding: 50px;
}
.knowledge2 {
    background-image: url("../images/intrvwbg.jpg");
    background-size: cover;
    height: 60vh;
    padding: 50px;
}

.fourthdiv {
    display: flex;
}
.stylefourth {
    background-color: rgba(6, 8, 11, 0.7);
    color: #fff;
    width: 100%;
    padding: 10%;
    margin-left: auto;
    margin-right: auto;
}
.stylefourth p {
    padding: 12%;
    font-size: 25px;
}
.final1 h1 {
    color: #181e22;
    text-align: center;
    padding: 50px;
}
.btn1 {
    border: 2px solid #f26422;
    color: #f26422;
    width: 100px;
    padding: 10px;
}

.joinnow {
    width: 100px;

    margin-left: auto;
    margin-right: auto;
}
.office {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.cooperative {
    padding: 10px;
    text-align: center;
}

.cooperative div {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 576px) {
    .banner {
        background-image: none;
        background-color: gray;
    }
    .secondcol {
        font-weight: 700;
        font-size: 30px;
    }
    .imgone {
        margin-right: 40px;
        align-self: flex-start;
    }
    .firstcol {
        display: none;
    }
    .points {
        margin: auto;
    }
    .opcity > div {
        width: fit-content;
    }
}
